[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/trinsic/hugo-PaperMod
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/trinsic/hugo-PaperMod
